# ---- Saidas geradas pelo Quartus (valem para qualquer pasta) ----
db/
incremental_db/
output_files/
greybox_tmp/
simulation/
*.qws
*.qdf
*.bak
*.rpt
*.summary
*.smsg
*.done
*.jdi
*.pin
*.sld
*.sof
*.pof
*.chg
*.htm
*.eqn

# ---- Sistema / editor ----
.vscode/
Thumbs.db
desktop.ini
